.navbar {


    /* position: fixed; */

    width: 100%;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.logo {
    width: 140px;

    height: auto;
    display: block;
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 22px;
}

.nav-connect {
    padding: 13px 25px;
    border-radius: 30px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);

    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 27px;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.anchor-link {
    text-decoration: none;
    color: white;

}

.anchor-link:hover {
    color: rgb(153, 66, 124);
    transform: scale(1.1);
    transition: 0.3s;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width:768px) {
    .navbar {
        margin: 20px 0px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        /* position: fixed; */
        right: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 10px;
        margin-left: 10px;
        width: 30px;


    }

    .nav_menu {
        position: fixed;
        flex-direction: column;
        align-items: start;

        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 220px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }




    .nav_menu li {
        font-size: 30px;
        padding-left: 50px;
        flex-direction: row;
        gap: 20px;
    }

}


@media (min-width: 769px) {

    .nav-mob-open,
    .nav-mob-close {
        display: none;
    }
}